@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/******BASE STYLES******/
html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1em;
}

.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

/******MOBILE STYLES******/

/***HEADER***/
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 1.375em 0 0.5em 0;
	border-bottom: 3px solid #77a466;
	font-size: 1.875em;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 1em 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.5em;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/***TOP SECTION***/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	padding: 0.3125em 0;
	color: #77a466;
	font-size: 1.125em;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

/***BOTTOM-SECTION***/
.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 1.5em;
}

/***FOOTER***/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border-top: 3px solid #eee;
	text-align: center;
	width: 100%;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/******TABLET STYLES******/
@media (min-width: 768px) {
.bottom-section {
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one, 
.section-two, 
.section-three {
	flex-basis: 30%;
	border-top: none;
	
}

.section-two {
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	padding: 0 1.25em;
}

.bottom-section h4 {
	width: 100%;
}
}
/******DESKTOP STYLES******/
@media (min-width: 1200px) {
header {
	flex-flow: row nowrap;
	padding: 0.3em 0;
	margin-top: 0.3em;
}

header h1 {
	padding: 0;
	border-bottom: none;
	text-align: left;
}

header nav {
	flex-basis: 50%;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
}